<form class="new-book" action="/books" method="post">
  <input type="text" name="book[title]" placeholder="title">
  <input type="text" name="book[pages]" placeholder="pages">
  <input type="text" name="book[year]" placeholder="year">
  <input type="text" name="book[authors]" placeholder="authors">
  <input type="submit" value="create">
</form>
